<header class="site-header">
    <div class="container">
        <a href="{{ '/' | relative_url }}" class="logo">
            <img src="{{ '/assets/images/uai-data-logo-large-colored.png' | relative_url }}" alt="{{ site.title }}">
        </a>
        <nav class="main-nav">
            <a href="/" {% if page.url=="/" %}class="active" {% endif %}>Home</a>
            <a href="{{ '/methodology.html' | relative_url }}" {% if page.url=="/methodology.html" %}class="active" {%
                endif %}>The uai
                Methodology</a>
            <a href="{{ '/contact.html' | relative_url }}" {% if page.url=="/contact.html" %}class="active" {% endif
                %}>Contact us</a>
        </nav>
    </div>
</header>
